.main-container{
    background-color: #f7f7f7;
    color: rgba(133, 127, 128);
    border-radius: 1rem;
    padding: 1.4rem;
    width: min(90vw, 480px);
    height: min(100%, 240px);
}
.main-container-row{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 1.4em;
}

.calc-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tip-select-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.form-input-row{
    width:100%;
    display: block;
}

.total-container{
    background-color: rgba(27,70,77);
    border-radius: 1rem;
    color: #fff;
    padding: 1.4em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}



@media (max-width:768px) {
    .main-container{
        height: min(100%, 480px);
    }
    .main-container-row{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.4em;
    }
    
}